/* ======= */
:root{
    --maroon: #5F002B;
    --lightmaroon: #980051;
    --beige: #F2E9D9;
    --white:#FFFFFF;
}




@font-face {
    font-family: 'Montauk-Bold';
    src: url('../fonts/Montauk-Bold.otf') ;
    font-weight: normal; 
    font-style: normal; 
  }

  @font-face {
    font-family: 'Montauk-Regular';
    src: url('../fonts/Montauk-Regular.otf') ;
   
  }
  @font-face {
    font-family: 'Montauk-Italic';
    src: url('../fonts/Montauk-Italic.otf') ;
   
  }
  @font-face {
    font-family: 'Montauk-Light';
    src: url('../fonts/Montauk-Light.otf') ;
   
  }
  @font-face {
    font-family: 'FugazOne-Regular';
    src: url('../fonts/FugazOne-Regular.ttf') ;
   
  }
body{
    background-image: url('../assets/bgtexture.jpg');
    background-repeat: repeat;
    padding: 1rem 0rem 1rem;
  
}

/*General formating start*/
 .section-margins{
    margin: 3rem 6rem  3rem 9rem;
 }
 .page-header{
    background-color: white;
    padding:0.5rem  0rem 0.5rem;
    font-size: 50px;
    color: var(--maroon);
    font-family: 'FugazOne-Regular', sans-serif;
 }
/*General Formating end*/
/*navbar start*/

.logo--header-img{
 margin-left:9rem;
}

.nav-link-parent{
    margin-right:6rem;
   
    font-weight: bold;
    font-style: italic;
   
  
}

.nav-link{
    color: var(--maroon);
    font-family: 'FugazOne-Regular';
    margin-left: 2rem;
}

/*navbar end*/


/* catering */
.catering-container{
  
  display: flex;
  justify-content: space-between;
}   

.catering-img{
  height:auto;
}

.text-section{
 
  background-color: white;
  color: var(--maroon);
  font-family: 'Montauk-Light', sans-serif;
  padding: 2rem;
  
}

.text-section h3{
  font-weight: bold;
  font-family: 'FugazOne-Regular', sans-serif;
}
.text-section p{
  line-height: 1.1;
}
/*catering end*/


/*footer start*/

footer{
    margin-left:9rem;
    margin-right:6rem;
    color: var(--maroon);
    font-family: 'Montauk-Light', sans-serif;

    
}

/*footer end*/


/* menu page css */

/* General reset for any elements inside the .no-bootstrap container */
.no-bootstrap * {
    all: revert;
    box-sizing: border-box;
    font-family: 'Montauk-Regular', sans-serif;
}

body {
    background-image: url(../assets/bgtexture.jpg);
    background-position: center;
    background-size: cover;
}

#font-change{
    font-family: 'FugazOne-Regular', sans-serif;
    color: var(--maroon);
}

.ajustImg {
    width: 100%;
}

.plane {
    font-weight: normal;      /* Removes bold */
    text-decoration: none;    /* Removes underline, overline, and line-through */
    font-style: normal;       /* Removes italic or oblique styling */
    font-family: 'Montauk-Regular', sans-serif;     
}

.no-bootstrap .MenuHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 85%;
    height: 4rem;
    margin: 0 auto;
}

.no-bootstrap .MenuContainer {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--maroon);
}

.no-bootstrap .menu-container-item {
    width: 49.5%;
    /* height: 700px; */
    background-color: white;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.no-bootstrap .menu-details {
    font-size: small;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
}

.menu-details h3{
    font-size: x-large;
}

.no-bootstrap .menu-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #980051;
}

.hide{
    color: white;
    border: none !important;
}

/* menu page css END */